<h2 mat-dialog-title>{{titulo}}</h2>

<mat-dialog-content>

    <hr style="margin-top: 0;">

    <div class="row">
        <div class="col-md-12">
            <p>
                SALDO DISPONIBLE DEL PORTAFOLIO: <b>{{monto}}</b> Bs.<br>
                VALOR NOMINAL DE LA INVERSION: <b>{{valor_inversion | number:'1.2-2'}}</b> Bs.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <mat-form-field appearance="outline">
                <mat-label>Portafolio</mat-label>

                <mat-select placeholder="Portafolio" [ngModelOptions]="{standalone: true}" [(ngModel)]="portafolio"
                    (selectionChange)="ConsultarMontoPortafolio()" value="{{portafolio}}">
                    <mat-option *ngFor="let e of lstDataPortafolio"
                        value="{{e.id + '|' + e.descripcion}}">{{e.descripcion | uppercase}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Saldo para invertir</mat-label>
                <span matPrefix>Bs &nbsp;</span>
                <input matInput
                    placeholder="Saldo para invertir"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="monto_general"
                    value="{{monto_general}}"
                    (input)="onMontoChange()"
                    [readonly]="bloquearMonto">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <mat-form-field appearance="outline">
                <mat-label>Porcentaje</mat-label>
                <span matSuffix>&nbsp; %</span>
                <input matInput
                    placeholder="Porcentaje"
                    [ngModelOptions]="{standalone: true}" 
                    [(ngModel)]="porcentaje"
                    value="{{porcentaje}}"
                    (keypress)="soloNumeros($event)"
                    (input)="onPorcentajeChange()"
                    [readonly]="bloquearPorcentaje">
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <div class="asistente-button-container">

                <button mat-mini-fab color="primary" [disabled]="habilitar()" (click)="Agregar()" [matTooltip]="editando ? 'Editar' : 'Agregar'">
                    <mat-icon>{{editando ? 'edit' : 'add'}}</mat-icon>
                </button>
                &nbsp; &nbsp;
                <button mat-mini-fab color="warn" (click)="limpiarCampos()" matTooltip="Limpiar campos">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>

    </div>



    <div class="row">

        <div class="col-md-12">
            <mat-selection-list>
                <mat-list *ngFor="let e of lstInversiones; let i=index "
                    style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                    <div class="row">

                        <div class="col-md-7 texto-lista">
                            {{ e.descripcion | uppercase }}
                        </div>
                        <div class="col-md-2 texto-lista">
                            {{ e.porcentaje }} %.
                        </div>

                        <div class="col-md-2 texto-detalle">
                            {{ getStatus(e.estatus) }}
                        </div>

                        <div class="col-md-1 text-right">

                            <button mat-icon-button aria-label="Editar" matTooltip="Editar" (click)="editar(e, i)">
                                <mat-icon class="texto-gray">edit</mat-icon>
                            </button>

                        </div>
                    </div>
                </mat-list>
            </mat-selection-list>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <mat-list>
                <div class="row">

                    <div class="col-md-7 texto-lista">
                        TOTAL DEL PORCENTAJE
                    </div>

                    <div class="col-md-2 texto-lista">
                        {{ total }} %.
                    </div>

                </div>

            </mat-list>
        </div>

    </div>
    <hr style="margin-bottom: 0;">
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="Commit()" *ngIf="blSave">
        <mat-icon>{{editado ? 'edit' : 'save'}}</mat-icon>&nbsp;{{editado ? 'Editar' : 'Guardar'}}
    </button>

    &nbsp;&nbsp;

    <button mat-flat-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>&nbsp;&nbsp;Cancelar
    </button>
</mat-dialog-actions>