<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body" style="padding:5px;height:100%">
        <ngx-ui-loader [loaderId]="'load-cont'"></ngx-ui-loader>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" (selectedTabChange)="tabActive($event)"
          [selectedIndex]="selectedIndex" style="padding:10px;">
          <mat-tab>

            <ng-template mat-tab-label>
              &nbsp;CONSULTA COMPROBANTE
            </ng-template>

            <div class="example-large-box mat-elevation-z4">
              <br><br>
              <div class="row" style="margin:0px; padding: 0px;">

                <div class="col-md-12">



                  <br>
                  <div class="row">
                    <div class="col-md-8 text-center">
                      <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="mes" (selectionChange)="cargarComprobantes()">
                          <mat-option *ngFor="let mes of lstMeses" [value]="mes.valor">
                            {{ mes.nombre }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>
                    <div class="col-md-4 text-center">
                      <mat-form-field appearance="outline">
                        <mat-select [(ngModel)]="anio" (selectionChange)="cargarComprobantes()">
                          <mat-option *ngFor="let anio of anios" [value]="anio">
                            {{ anio }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>  
                  </div>

                  <mat-selection-list>
                    <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                      <div class="row">
                        <div class="col-md-2 texto-detalle auto-title">
                          FECHA/CODIGO
                        </div>
                        <div class="col-md-3 texto-detalle auto-title">
                          DESCRIPCION
                        </div>
                        <div class="col-md-4 texto-detalle auto-title">
                          PLAN FIDEICOMISO
                        </div>
                        <div class="col-md-2 texto-lista auto-title">
                          MONTO
                        </div>
                        <div class="col-md-1 texto-lista auto-title">
                          ACCION
                        </div>
                      </div>
                    </mat-list>
                    <mat-list *ngFor="let e of lst" 
                      style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                      <div class="row">
                        <div class="col-md-2 texto-detalle auto-ajuste">
                          {{ getFecha(e.fecha_operacion) }} | {{ CompletarCeros(e.id) }}
                        </div>
                        <div class="col-md-3 texto-detalle auto-ajuste">
                          {{ e.descripcion | uppercase }}
                        </div>
                        <div class="col-md-4 texto-detalle auto-ajuste">
                          {{ e.detalle | uppercase }}
                        </div>
                        <div class="col-md-2 texto-lista auto-ajuste">
                          Bs. {{ getMoneda(e) }}
                        </div>
                        <div class="col-md-1 text-right d-flex flex-column justify-content-center align-items-end">
                          <button mat-icon-button aria-label="ELiminar"
                            (click)="eliminarComprobante(e.id, e.descripcion )" matTooltip="Eliminar">
                            <mat-icon class="texto-gray">delete</mat-icon>
                          </button>

                          <button mat-icon-button aria-label="Editar" (click)="editar(e)" matTooltip="Editar">
                            <mat-icon class="texto-gray">edit</mat-icon>
                          </button>

                          <button mat-icon-button aria-label="Imprimir" (click)="abrirDialogo(e)" matTooltip="Imprimir">
                            <mat-icon class="texto-gray">print</mat-icon>
                          </button>

                        </div>
                      </div>
                    </mat-list>
                  </mat-selection-list>
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-paginator [length]="total" 
                                     [pageSize]="10" 
                                     (page)="cambiarPagina($event)"
                                     showFirstLastButtons
                                     aria-label="Seleccione página de comprobantes"
                                     style="background: transparent;">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </mat-tab>
          <mat-tab style="width: 90%;padding: 20px;">
            <ng-template mat-tab-label>
              <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
              &nbsp;REGISTRO DE COMPROBANTE
            </ng-template>
            <br>

            <div class="card">
              <form (ngSubmit)="onSubmit()" [formGroup]="formComprobante">
                <div class="card-body" style="padding:20px;">
                  <div class="row">
                    <div class="col-md-3">

                      <mat-form-field appearance="outline">
                        <mat-label>Plan</mat-label>
                        <input matInput placeholder="Plan"
                          formControlName="plan" (blur)="ConsultarContrato()">
                        <mat-icon matSuffix (click)="Seleccionar()">search</mat-icon>
                      </mat-form-field>

                    </div>
                    <div class="col-md-9">
                      <mat-form-field appearance="outline">
                        <mat-label>Nombre del Fideicomiso</mat-label>
                        <input matInput placeholder="Nombre General"
                          [(ngModel)]="Contrato.razonsocial" value="{{Contrato.razonsocial}}" readonly="readonly">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field appearance="outline">
                        <mat-label>Fecha Valor</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fechaEjercicio" readonly>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-icon matSuffix (click)="picker.open()">event</mat-icon>
                      </mat-form-field>
                      <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

                    </div>

                    <div class="col-md-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Numero</mat-label>
                        <input matInput placeholder="Numero" formControlName="codigo">
                      </mat-form-field>
                    </div>

                    <div class="col-md-7">
                      <mat-form-field appearance="outline">
                        <mat-label>Descripcion </mat-label>
                        <input matInput placeholder="Descripcion" formControlName="descripcion">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 text-center">
                      <p align="center"><b>ASIENTOS CONTABLES</b></p>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-7">
                      <mat-form-field appearance="outline">
                        <mat-label>Cuenta</mat-label>
                        <input type="text" placeholder="Cuenta" aria-label="Cuentas" matInput [formControl]="myCuentas"
                          [matAutocomplete]="autox" [(ngModel)]="cuenta">
                        <mat-autocomplete autoActiveFirstOption #autox="matAutocomplete">
                          <mat-option *ngFor="let option of filteredCuentas | async" [value]="option">
                            {{option | uppercase}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field appearance="outline">
                        <mat-label>DEBE</mat-label>
                        <input tyle="text-align:right;" matInput placeholder="DEBE"
                          [(ngModel)]="debe" [ngModelOptions]="{standalone: true}"> 
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field appearance="outline">
                        <mat-label>HABER</mat-label>
                        <input style="text-align:right;" matInput placeholder="HABER"
                          [(ngModel)]="haber" [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1 asistente-button-container">
                      <button mat-mini-fab color="primary" title="Registrar" type="button" (click)="addElement()">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">

                          <!-- Position Column -->
                          <ng-container matColumnDef="cuenta">
                            <th mat-header-cell *matHeaderCellDef> CUENTA </th>
                            <td mat-cell *matCellDef="let e"> {{e.cuenta}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> FECHA </th>
                            <td mat-cell *matCellDef="let e"> {{ e.fecha }} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> DESCRIPCION </th>
                            <td mat-cell *matCellDef="let e"> {{e.descripcion}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="debe">
                            <th mat-header-cell *matHeaderCellDef> DEBE </th>
                            <td mat-cell *matCellDef="let e"> {{e.debe}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="haber">
                            <th mat-header-cell *matHeaderCellDef> HABER </th>
                            <td mat-cell *matCellDef="let e"> {{e.haber}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="accion">
                            <th mat-header-cell *matHeaderCellDef> ACCION </th>
                            <td mat-cell *matCellDef="let e">
                              <button mat-icon-button aria-label="Editar" (click)="eliminar(e)">
                                <mat-icon class="text-gray">delete</mat-icon>
                              </button>

                            </td>
                          </ng-container>


                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                          aria-label="Selecione la pagina">
                        </mat-paginator>
                      </div>
                      <br>

                    </div>

                  </div>


                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field appearance="outline">
                        <mat-label>Fecha Creacion</mat-label>
                        <input matInput [matDatepicker]="xpicker" formControlName="fechaOperacion" readonly>
                        <mat-datepicker #xpicker></mat-datepicker>
                        <mat-icon matSuffix>event</mat-icon>
                      </mat-form-field>
                      <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

                    </div>
                    <div class="col-md-4">

                    </div>

                    <div class="col-md-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Saldo Debe</mat-label>
                        <input style="text-align:right;" readonly="readonly" matInput placeholder="Saldo Debe" formControlName="totalDebe">
                      </mat-form-field>
                    </div>

                    <div class="col-md-2">
                      <mat-form-field appearance="outline">
                        <mat-label>Saldo Haber</mat-label>
                        <input style="text-align:right;" readonly="readonly" matInput placeholder="Saldo Haber"
                          formControlName="totalHaber">
                      </mat-form-field>
                    </div>
                    <div class="col-md-1 asistente-button-container">

                    </div>
                  </div>

                </div>
                <div class="card-footer">
                  <div class="row">

                    <div class="col-md-12 text-right">
                      <button *ngIf="mostrarImprimir" mat-flat-button color="accent" (click)="abrirDialogo()">Imprimir
                        Comprobante</button>
                      &nbsp; &nbsp;
                      <button mat-flat-button color="primary" type="submit">{{mostrarImprimir ? 'Editar' : 'Registrar'}} Comprobante</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </mat-tab>
        </mat-tab-group>


      </div>
    </div>
  </div>
</div>