<div class="row">
    <div class="col-md-12">
        <div class="card card-profile shadow">
            <div class="card-body">
                <ngx-ui-loader [loaderId]="'load-inver'"></ngx-ui-loader>
                <mat-tab-group>
                    <mat-tab label="PORTAFOLIO">

                        <div style="padding: 20px;" class="animated fadeIn" [ngStyle]="{'display':porta_insert}">
                            <br>
                            <form>

                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Codigo</mat-label>
                                            <input matInput placeholder="Codigo" 
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="Portafolio.codigo"
                                            value="{{Portafolio.codigo}}" (blur)="Consultar()">
                                            <mat-icon matSuffix (click)="Seleccionar()">search</mat-icon>
                                                    
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-9">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Descripcion General</mat-label>
                                            <input matInput placeholder="Descripcion General" [ngModelOptions]="{standalone: true}" [(ngModel)]="Portafolio.descripcion"
                                            value="{{Portafolio.descripcion}}">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Moneda de Operaciones</mat-label>
                                            <mat-select placeholder="Moneda de Operaciones" [ngModelOptions]="{standalone: true}" [(ngModel)]="Portafolio.moneda"
                                            value="{{Portafolio.moneda}}">
                                                <mat-option value="BS">BOLIVARES</mat-option>
                                                <mat-option value="DOLAR">DOLARES</mat-option>
                                                <mat-option value="YUAN">YUANES</mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix>currency_exchange</mat-icon>
                                            
                                        </mat-form-field>
                                    </div>
                                   
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Frecuencia de Cierre</mat-label>
                                            <input matInput placeholder="Frecuencia de Cierre" [ngModelOptions]="{standalone: true}" [(ngModel)]="Portafolio.frecuencia"
                                            value="{{Portafolio.frecuencia}}">
                                        </mat-form-field>
                                    </div>
                                   
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Distribucion de Garantias</mat-label>
                                            <input matInput placeholder="Distribucion de Garantias" [ngModelOptions]="{standalone: true}" [(ngModel)]="Portafolio.distribucion"
                                            value="{{Portafolio.distribucion}}">
                                        </mat-form-field>
                                    </div>
                                    
                                  
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Tipo de Cuenta</mat-label>
                                            <input matInput placeholder="Tipo de Cuenta" [ngModelOptions]="{standalone: true}" [(ngModel)]="Portafolio.tipo"
                                            value="{{Portafolio.tipo}}">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Numero de Cuenta Bancaria</mat-label>
                                            <input matInput placeholder="Numero de Cuenta Bancaria" [ngModelOptions]="{standalone: true}" [(ngModel)]="Portafolio.numerocuenta"
                                            value="{{Portafolio.numerocuenta}}" maxlength="20">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Valor de Mercado</mat-label>
                                            <mat-select placeholder="Valor de Mercado" [ngModelOptions]="{standalone: true}" [(ngModel)]="Portafolio.valormercado"
                                            value="{{Portafolio.valormercado}}">
                                                <mat-option value="NO">NO</mat-option>
                                                <mat-option value="SI">SI</mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix>monetization_on</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                                
                                <div class="row">
                            
                                    <div class="col-md-12 text-right">
                                        <hr>
                                        <button mat-flat-button color="primary" (click)="Guardar()">Registar portafolio</button>
                                    </div>
                                
                                </div>

                            </form>
                        </div>
                        <div style="padding: 20px;" class="animated fadeIn" [ngStyle]="{'display':porta_search}">
                            <br>
                                 <mat-selection-list>
                                    <mat-list *ngFor="let e of lstPortafolio; let i=index "
                                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                                        <div class="row">
    
                                            <div class="col-md-1 texto-detalle">
                                                {{ e.codigo | uppercase }}
                                            </div>
                                            <div class="col-md-4 texto-lista" >
                                                {{ e.descripcion | uppercase}}
                                            </div>
                                            <div class="col-md-2 texto-detalle">
                                                {{ e.moneda | uppercase }}
                                            </div>
                                            <div class="col-md-2 texto-detalle">
                                                {{ e.frecuencia | uppercase }}
                                            </div>
                                            <div class="col-md-2 texto-detalle">
                                                {{ e.valormercado | uppercase }}
                                            </div>
                                          
                                            <div class="col-md-1 text-right">
    
                                                <button mat-icon-button aria-label="Editar"
                                                    (click)="editar(e)" >
                                                    <mat-icon class="texto-gray">edit</mat-icon>
                                                </button>
    
                                            </div>
                                        </div>
                                    </mat-list>
                                </mat-selection-list> 
                                <br><br>
                        </div>

                    </mat-tab>

                    <mat-tab label="INVERSIONES">
                        <div style="padding: 20px;" class="animated fadeIn" [ngStyle]="{'display':inver_insert}">
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Codigo</mat-label>
                                        <input matInput placeholder="Codigo" [ngModelOptions]="{standalone: true}" [(ngModel)]="Inversiones.codigo"
                                        value="{{Inversiones.codigo}}" (blur)="ConsultarInver()">
                                        <mat-icon matSuffix (click)="SeleccionarInversiones()">search</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Descripcion General</mat-label>
                                        <input matInput placeholder="Descripcion General" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.descripcion"
                                        value="{{Inversiones.descripcion}}">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Grupo de Inversion</mat-label>
                                        <input matInput placeholder="Grupo de Inversion" [ngModelOptions]="{standalone: true}" [(ngModel)]="Inversiones.grupo"
                                        value="{{Inversiones.grupo}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Limite de Cartera</mat-label>
                                        <input matInput placeholder="Limite de Cartera" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.limite"
                                        value="{{Inversiones.limite}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Moneda de Operaciones</mat-label>
                                        <input matInput placeholder="Moneda de Operaciones" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.moneda"
                                        value="{{Inversiones.moneda}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Calculo de Costo</mat-label>
                                        <input matInput placeholder="Calculo de Costo" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.calculo"
                                        value="{{Inversiones.calculo}}">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Codigo BCV</mat-label>
                                        <mat-select placeholder="Codigo BCV" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.codigobcv"
                                        value="{{Inversiones.codigobcv}}">
                                            <mat-option value="NO">NO</mat-option>
                                            <mat-option value="SI">SI</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>article</mat-icon>
                                    </mat-form-field>
                                </div>

                                   
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Codigo ISIN</mat-label>
                                        <mat-select placeholder="Codigo ISIN" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.codigoisin"
                                        value="{{Inversiones.codigoisin}}">
                                            <mat-option value="NO">NO</mat-option>
                                            <mat-option value="SI">SI</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>article</mat-icon>
                                    </mat-form-field>
                                </div>


                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Decreto</mat-label>
                                        <mat-select placeholder="Decreto" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.decreto"
                                        value="{{Inversiones.decreto}}">
                                            <mat-option value="NO">NO</mat-option>
                                            <mat-option value="SI">SI</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>article</mat-icon>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Emision</mat-label>
                                        <mat-select placeholder="Emision" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.emision"
                                        value="{{Inversiones.emision}}">
                                            <mat-option value="NO">NO</mat-option>
                                            <mat-option value="SI">SI</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>article</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Crear contabilidad como</mat-label>
                                        <input matInput placeholder="Crear contabilidad como" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.contabilidad"
                                        value="{{Inversiones.contabilidad}}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Total Invertido</mat-label>
                                        <input matInput placeholder="Total Invertido" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.totalinvertido"
                                        value="{{Inversiones.totalinvertido}}">
                                    </mat-form-field>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Valor Inicial</mat-label>
                                        <mat-select placeholder="Valor Inicial" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.valorinicial"
                                        value="{{Inversiones.valorinicial}}">
                                            <mat-option value="NO">NO</mat-option>
                                            <mat-option value="SI">SI</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Moneda Extranjera</mat-label>
                                        <mat-select placeholder="Moneda Extranjera" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.monedaextranjera"
                                        value="{{Inversiones.monedaextranjera}}">
                                            <mat-option value="NO">NO</mat-option>
                                            <mat-option value="SI">SI</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Estatus</mat-label>
                                        <mat-select placeholder="Estatus" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Inversiones.estatus"
                                        value="{{Inversiones.estatus}}">
                                            <mat-option value="INACTIVO">INACTIVO</mat-option>
                                            <mat-option value="ACTIVO">ACTIVO</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                            
                                <div class="col-md-12 text-right">
                                    <hr>
                                    <button mat-flat-button color="primary" (click)="GuardarInversiones()">Registar inversiones</button>
                                </div>
                            
                            </div>

                        </div>

                        <div style="padding: 20px;" class="animated fadeIn" [ngStyle]="{'display':inver_search}">
                            <br>
                                 <mat-selection-list>
                                    <mat-list *ngFor="let e of lstInversiones; let i=index "
                                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                                        <div class="row">
    
                                            <div class="col-md-1 texto-detalle">
                                                {{ e.codigo | uppercase }}
                                            </div>
                                            <div class="col-md-4 texto-lista" >
                                                {{ e.descripcion | uppercase}}
                                            </div>
                                            <div class="col-md-2 texto-detalle">
                                                {{ e.moneda | uppercase }}
                                            </div>
                                            <div class="col-md-2 texto-detalle">
                                                {{ e.frecuencia | uppercase }}
                                            </div>
                                            <div class="col-md-2 texto-detalle">
                                                {{ e.valormercado | uppercase }}
                                            </div>
                                          
                                            <div class="col-md-1 text-right">
    
                                                <button mat-icon-button aria-label="Editar"
                                                    (click)="editarInver(e)" >
                                                    <mat-icon class="texto-gray">edit</mat-icon>
                                                </button>
    
                                            </div>
                                        </div>
                                    </mat-list>
                                </mat-selection-list> 
                                <br><br>
                        </div>
                    </mat-tab>



                </mat-tab-group>


            </div>
        </div>
    </div>
</div>