<div class="row">
    <div class="col-md-12">
        <div class="card card-profile shadow">
            <div class="card-body">
                <mat-tab-group>
                    <mat-tab label="Portafolio">

                        <div style="padding: 20px;">
                            <br>
                            <form>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Codigo</mat-label>
                                            <input matInput placeholder="Codigo" value="">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Descripcion General</mat-label>
                                            <input matInput placeholder="Descripcion General" value="">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Moneda de Operaciones</mat-label>
                                            <input matInput placeholder="Moneda de Operaciones" value="">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Descripcion General</mat-label>
                                            <input matInput placeholder="Descripcion General" value="">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Frecuencia de Cierre</mat-label>
                                            <input matInput placeholder="Frecuencia de Cierre" value="">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Descripcion General</mat-label>
                                            <input matInput placeholder="Descripcion General" value="">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Distribucion de Garantias</mat-label>
                                            <input matInput placeholder="Distribucion de Garantias" value="">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Descripcion General</mat-label>
                                            <input matInput placeholder="Descripcion General" value="">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Tipo de Cuenta</mat-label>
                                            <input matInput placeholder="Tipo de Cuenta" value="">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-8">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Descripcion General</mat-label>
                                            <input matInput placeholder="Descripcion General" value="">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Numero de Cuenta Bancaria</mat-label>
                                            <input matInput placeholder="Numero de Cuenta Bancaria" value="">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Valor de Mercado</mat-label>
                                            <mat-select placeholder="Valor de Mercado">
                                                <mat-option>Selección</mat-option>
                                                <mat-option>Si</mat-option>
                                                <mat-option>No</mat-option>
                                            </mat-select>
                                            <mat-icon matSuffix>boy</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                                


                            </form>
                        </div>
                    </mat-tab>

                    <mat-tab label="Inversiones">
                        <div style="padding: 20px;">
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Codigo</mat-label>
                                        <input matInput placeholder="Codigo" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Descripcion General</mat-label>
                                        <input matInput placeholder="Descripcion General" value="">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Grupo de Inversion</mat-label>
                                        <input matInput placeholder="Grupo de Inversion" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Descripcion General</mat-label>
                                        <input matInput placeholder="Descripcion General" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Codigo BCV</mat-label>
                                        <mat-select placeholder="Codigo BCV">
                                            <mat-option>Selección</mat-option>
                                            <mat-option>Si</mat-option>
                                            <mat-option>No</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Limite de Cartera</mat-label>
                                        <input matInput placeholder="Limite de Cartera" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Descripcion General</mat-label>
                                        <input matInput placeholder="Descripcion General" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Codigo ISIN</mat-label>
                                        <mat-select placeholder="Codigo ISIN">
                                            <mat-option>Selección</mat-option>
                                            <mat-option>Si</mat-option>
                                            <mat-option>No</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Moneda de Operaciones</mat-label>
                                        <input matInput placeholder="Moneda de Operaciones" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Descripcion General</mat-label>
                                        <input matInput placeholder="Descripcion General" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Decreto</mat-label>
                                        <mat-select placeholder="Decreto">
                                            <mat-option>Selección</mat-option>
                                            <mat-option>Si</mat-option>
                                            <mat-option>No</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Calculo de Costo</mat-label>
                                        <input matInput placeholder="Calculo de Costo" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Descripcion General</mat-label>
                                        <input matInput placeholder="Descripcion General" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Emision</mat-label>
                                        <mat-select placeholder="Emision">
                                            <mat-option>Selección</mat-option>
                                            <mat-option>Si</mat-option>
                                            <mat-option>No</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Crear contabilidad como</mat-label>
                                        <input matInput placeholder="Crear contabilidad como" value="">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Total Invertido</mat-label>
                                        <input matInput placeholder="Total Invertido" value="">
                                    </mat-form-field>
                                </div>
                                
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Valor Inicial</mat-label>
                                        <mat-select placeholder="Valor Inicial">
                                            <mat-option>Selección</mat-option>
                                            <mat-option>Si</mat-option>
                                            <mat-option>No</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Moneda Extranjera</mat-label>
                                        <mat-select placeholder="Moneda Extranjera">
                                            <mat-option>Selección</mat-option>
                                            <mat-option>Si</mat-option>
                                            <mat-option>No</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Estatus</mat-label>
                                        <mat-select placeholder="Estatus">
                                            <mat-option>Selección</mat-option>
                                            <mat-option>Si</mat-option>
                                            <mat-option>No</mat-option>
                                        </mat-select>
                                        <mat-icon matSuffix>boy</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>


                        </div>

                    </mat-tab>



                </mat-tab-group>


            </div>
        </div>
    </div>
</div>