<div style="padding:20px" [ngStyle]="{'display':empre_insert}">
    <form>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': tipoDocumento === '' && empre_insert === ''}">
                    <mat-label><span class="requerido">*</span> Tipo Documento</mat-label>
                    <mat-select placeholder="Tipo" [(ngModel)]="tipoDocumento" name="tipoDocumento">
                        <mat-option value="J">J - Jurídico</mat-option>
                        <mat-option value="G">G - Gobierno</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('numeroDocumento')}">
                    <mat-label><span class="requerido">*</span> Número de Documento</mat-label>
                    <input matInput placeholder="Ej: 12345678" [(ngModel)]="numeroDocumento"
                        name="numeroDocumento" maxlength="10">
                    <mat-error *ngIf="campoInvalido('numeroDocumento')">{{ mensajeError('numeroDocumento') }}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-7">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('razonsocial')}">
                    <mat-label><span class="requerido">*</span> Nombre o Razón Social</mat-label>
                    <input matInput placeholder="Nombre o Razón Social" [(ngModel)]="Empresa.razonsocial"
                        name="razonsocial">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('direccion')}">
                    <mat-label><span class="requerido">*</span> Dirección</mat-label>
                    <textarea matInput placeholder="Dirección completa" style="height: 70px;"
                        [(ngModel)]="Empresa.Direccion.direccion" name="direccion"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('pais')}">
                    <mat-label><span class="requerido">*</span> País</mat-label>
                    <mat-select placeholder="País" [(ngModel)]="Empresa.Direccion.pais" name="pais">
                        <mat-option *ngFor="let e of lstPaises" value="{{e.code}}">{{e.nombre | uppercase }}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>public</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('ciudad')}">
                    <mat-label><span class="requerido">*</span> Estado</mat-label>
                    <mat-select placeholder="Estado" [(ngModel)]="Empresa.Direccion.ciudad" name="ciudad">
                        <mat-option value="S">SELECCIÓN</mat-option>
                        <mat-option *ngFor="let e of lstEstados" value="{{e.id_estado}}">{{e.estado | uppercase }}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>home</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('codigopostal')}">
                    <mat-label><span class="requerido">*</span> Código Postal</mat-label>
                    <input matInput placeholder="Código postal" [(ngModel)]="Empresa.Direccion.codigopostal"
                        name="codigopostal">
                    <mat-error *ngIf="campoInvalido('codigopostal')">{{ mensajeError('codigopostal') }}</mat-error>
                    <mat-icon matSuffix>pin</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('tipo')}">
                    <mat-label><span class="requerido">*</span> Tipo de Cuenta</mat-label>
                    <mat-select placeholder="Tipo de Cuenta" [(ngModel)]="Empresa.tipo" name="tipo">
                        <mat-option value="AHORRO">AHORRO</mat-option>
                        <mat-option value="CORRIENTE">CORRIENTE</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('numerocuenta')}">
                    <mat-label><span class="requerido">*</span> Número de Cuenta Bancaria</mat-label>
                    <input matInput placeholder="Número de Cuenta Bancaria" [(ngModel)]="Empresa.numerocuenta"
                        name="numerocuenta" maxlength="20">
                    <mat-error *ngIf="campoInvalido('numerocuenta')">{{ mensajeError('numerocuenta') }}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('telefono')}">
                    <mat-label><span class="requerido">*</span> Celular</mat-label>
                    <input matInput placeholder="Celular" [(ngModel)]="Empresa.Direccion.telefono"
                        name="telefono">
                    <mat-error *ngIf="campoInvalido('telefono')">{{ mensajeError('telefono') }}</mat-error>
                    <mat-icon matSuffix>support_agent</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Teléfono de contacto</mat-label>
                    <input matInput placeholder="Teléfono de contacto" [(ngModel)]="Empresa.Direccion.oficinanacional"
                        name="oficinanacional">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('correo')}">
                    <mat-label><span class="requerido">*</span> Correo Electrónico</mat-label>
                    <input type="email" matInput placeholder="Ejemplo: correo@empresa.com"
                        [(ngModel)]="Empresa.Direccion.correo" name="correo" required>
                    <mat-error *ngIf="campoInvalido('correo')">{{ mensajeError('correo') }}</mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <hr>
                <button mat-flat-button color="primary" (click)="Guardar()" [disabled]="!formularioValido()">
                    <mat-icon>{{ esEdicion ? 'save' : 'add' }}</mat-icon>
                    {{ esEdicion ? 'Actualizar' : 'Aceptar' }}
                </button>
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="Seleccionar()">Listar</button>
            </div>
        </div>

    </form>

</div>

<div style="padding: 20px;" [ngStyle]="{'display':empre_search}">
    <br>
    <div class="row">
        <div class="col-md-12 text-right">
            <button mat-icon-button aria-label="volver" (click)="atras()" >
                <mat-icon class="texto-gray">arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <mat-selection-list>
        <mat-list *ngFor="let e of lstEmpresa; let i=index "
            style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
            <div class="row">

                <div class="col-md-2 texto-detalle">
                    {{ e.rif | uppercase }}
                </div>
                <div class="col-md-5 texto-lista">
                    {{ e.razonsocial | uppercase}}
                </div>
                <div class="col-md-2 texto-detalle">
                    {{ e.Direccion.telefono | uppercase }}
                </div>
                <div class="col-md-2 texto-detalle">
                    {{ e.Direccion.ciudad | uppercase }}
                </div>


                <div class="col-md-1 text-right">

                    <button mat-icon-button aria-label="Editar" (click)="editar(e)">
                        <mat-icon class="texto-gray">edit</mat-icon>
                    </button>

                </div>
            </div>
        </mat-list>
    </mat-selection-list>
    <br><br>
</div>
