<ngx-ui-loader [loaderId]="'load-cont'"></ngx-ui-loader>

<div class="row">
  <div class="col-md-3">
    <mat-form-field appearance="outline">
      <mat-label>Fecha de ultimo cierre</mat-label>
      <input matInput placeholder="Fecha de Contable" [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaultimo"
        disabled="disabled">
      <mat-icon matSuffix>event</mat-icon>
    </mat-form-field>

  </div>
  <div class="col-md-3">
    <mat-form-field appearance="outline">
      <mat-label>Fecha valor</mat-label>
      <input matInput [matDatepicker]="ypicker" [(ngModel)]="fechai">
      <mat-datepicker #ypicker></mat-datepicker>
      <mat-icon matSuffix (click)="ypicker.open()">event</mat-icon>
    </mat-form-field>

  </div>

  <div class="col-md-6 text-right">

    <button mat-flat-button color="primary" (click)="Calcular()" style="height: 50px;" *ngIf="!blprocesar">
      <mat-icon>verified</mat-icon>&nbsp;Generar
    </button>
    &nbsp;&nbsp;
    <!-- <button mat-flat-button color="accent" (click)="Listar()" style="height: 50px;">
      <mat-icon>search</mat-icon>&nbsp;Consultar
    </button> -->


  </div>
</div>




<div class="row" *ngIf="blprocesar">
  <div class="col-md-12">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> FIDEICOMISO </th>
          <td mat-cell *matCellDef="let e"> {{e.codigo}} </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="plan">
          <th mat-header-cell *matHeaderCellDef> PLAN DE FIDEICOMISO </th>
          <td mat-cell *matCellDef="let e"> {{e.plan}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef> MONTO </th>
          <td mat-cell *matCellDef="let e"> {{ e.monto }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>
    <br>

  </div>

</div>


<div class="row" *ngIf="blprocesar">
  <div class="col-md-12  text-right" >




      <button mat-flat-button color="accent" (click)="Procesar()" style="height: 50px;">
       Procesar aportes
      </button>



  </div>
</div>