<div class="row">
    <div class="col-md-12">
        <div class="card card-profile shadow">
            <div class="card-body">
                <ngx-ui-loader [loaderId]="'load-inver'"></ngx-ui-loader>

                <div class="row">

                    <div class="col-xl-4 col-lg-4">
                        <a routerLinkActive="active" [routerLink]="['/configuraciones']">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Configuraciones</h5>
                                            <span class="h2 font-weight-bold mb-0">Configuraciones</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-purple text-white rounded-circle shadow">
                                                <i class="fas fa-cog"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <!-- <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> Acceso</span> -->
                                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> P&aacute;gina </span>
                                        <span class="text-nowrap"> sistema</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-xl-4 col-lg-4">
                        <a routerLinkActive="active" [routerLink]="['/contratos']">
                            <div class="card card-stats mb-4 mb-xl-0">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Negocios</h5>
                                            <span class="h2 font-weight-bold mb-0">Contratos</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                                                <i class="fas fa-file"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="mt-3 mb-0 text-muted text-sm">
                                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> P&aacute;gina </span>
                                        <span class="text-nowrap"> sistema</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>





                </div>

            </div>
        </div>
    </div>
</div>