.mat-form-field {
  width: 100%;
}

.asientos{
  font-weight: bold;
  font-size: 15px;
  width: 100%;
}

.asientos thead > tr{
  border: 0px; border-bottom: 1px solid #ccc; background-color: #e1e1d154;
  height: 30px;
}


.asientos tr > th {
  border: 0px; border-bottom: 1px solid #ccc; background-color: #e1e1d154;
  font-size: 13px;
  height: 30px;
}

.asientos td{
  font-weight: normal;
  font-size: 13px;
}


.asientos text-right {
  text-align: right;
}

.asientos text-center {
  text-align: center;
  font-size: 15px;
}
