<div class="row">
  <div class="col-md-12">
    <ngx-ui-loader [loaderId]="'load-cont'"></ngx-ui-loader>



    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Contable</mat-label>
          <input matInput placeholder="Fecha de Contable" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="fechaultimo" disabled="disabled">
          <mat-icon matSuffix>event</mat-icon>
        </mat-form-field>
        <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Inicio</mat-label>
          <input matInput [matDatepicker]="ypicker" [(ngModel)]="fechai">
          <mat-datepicker #ypicker></mat-datepicker>
          <mat-icon matSuffix (click)="ypicker.open()">event</mat-icon>
        </mat-form-field>
        <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Fecha Fin</mat-label>
          <input matInput [matDatepicker]="zpicker" [(ngModel)]="fechaf" (dateInput)="CalcularDias('input')"
            (dateChange)="CalcularDias('change')">
          <mat-datepicker #zpicker></mat-datepicker>
          <mat-icon matSuffix (click)="zpicker.open()">event</mat-icon>
        </mat-form-field>
        <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>N&uacute;mero de dias </mat-label>
          <input matInput placeholder="N&uacute;mero de dias" [ngModelOptions]="{standalone: true}" [(ngModel)]="dias">
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 text-right">

        &nbsp;&nbsp;
        <button mat-flat-button color="accent" (click)="consultarComisiones()" style="height: 50px;">
          <mat-icon>search</mat-icon>&nbsp;Consultar
        </button>
        
        
      </div>

    </div>


    <div class="row">
      <div class="col-md-12">
        <mat-tab-group *ngIf="visible" mat-stretch-tabs class="example-stretched-tabs" style="padding:10px;">
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
              &nbsp;COMISIONES
            </ng-template>
    
            <div class="example-large-box mat-elevation-z4">
              <div style="padding: 20px; width: 100%; margin-bottom: 0px;">
                <table class="asientos" style="padding: 5px;">
                          
                  <thead style="background-color: #e1e1d154; height: 35px;">
                    <tr style="border: 0px; border-bottom: 1px solid #ccc; background-color: #e1e1d154; height: 35px;padding: 5px;">
                      <th style="text-align:left">CODIGO</th>
                      <th style="text-align:left">DESCRIPCION</th>
                      <th style="text-align:right">PATRIMONIO</th>
                      <th style="text-align:right">TASA % </th>
                      <th style="text-align:right">CALCULO</th>
                      <!-- <th style="text-align:right">CALCULO + CAPITAL</th> -->
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let e of lstComisiones" >
                      <td>{{ getCodigo(e.id) }}</td>
                      <td>{{ e.plan}}</td>
                      <td style="text-align:right">Bs. {{   getMoneda(e.capital) }}</td>
                      <td style="text-align:right; font-weight: bold;"> {{e.tasa }} %</td>
                      <!-- <td style="text-align:right">Bs. {{  getMoneda(e.calculo) }}</td> -->
                      <td style="text-align:right">Bs. {{  getMoneda(e.calculo_capital) }}</td>
                      
                    </tr>

                  </tbody>
                </table>
                

                <br>
                
    
              </div>
            </div>
            <br>
            
            <div class="row" *ngIf="blComprobante">
              <div class="col-md-12 text-right" style="margin-top: 5px;">
                <button mat-flat-button color="warn" (click)="GenerarComprobante()" style="height: 50px;">
                  Generar comprobantes
                </button>
                
                
              </div>
            </div>
            <br>
            <br>
            
    
    
    
            <br>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
              &nbsp;APORTES / INCREMENTOS
            </ng-template>
            <br>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
              &nbsp;FINIQUITOS
            </ng-template>
            <br>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
              &nbsp;RETIROS
            </ng-template>
            <br>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
              &nbsp;PAGO DE INTERESES
            </ng-template>
            <br>
          </mat-tab>
        
    
    
        </mat-tab-group>
    
      </div>
    </div>



  </div>
</div>