<div style="padding: 20px;" [ngStyle]="{'display':porta_insert}">
    <br>
    <form>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Codigo</mat-label>
                    <input matInput placeholder="Codigo" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Portafolio.codigo" value="{{Portafolio.codigo}}"
                        (blur)="Consultar()">
                    <mat-icon matSuffix (click)="Seleccionar()">search</mat-icon>

                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Descripcion General</mat-label>
                    <input matInput placeholder="Descripcion General"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Portafolio.descripcion" value="{{Portafolio.descripcion}}">
                </mat-form-field>
            </div>
       
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de moneda</mat-label>
                    <mat-select placeholder="Tipo de moneda"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="Portafolio.moneda"
                        value="{{Portafolio.moneda}}">
                        <mat-option value="BS">BOLIVARES</mat-option>
                        <mat-option value="DOLAR">DOLARES</mat-option>
                        <mat-option value="YUAN">YUANES</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>currency_exchange</mat-icon>

                </mat-form-field>
            </div>

        
           


        </div>

   

        <div class="row">

            <div class="col-md-12 text-right">
                <hr>
                <button mat-flat-button color="primary" (click)="Guardar()">Aceptar</button>
            </div>

        </div>

    </form>
</div>
<div style="padding: 20px;" [ngStyle]="{'display':porta_search}">
    <br>
    <div class="row">
        <div class="col-md-12 text-right">
            <button mat-icon-button aria-label="volver" (click)="atras()" >
                <mat-icon class="texto-gray">arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <mat-selection-list>
        <mat-list *ngFor="let e of lstPortafolio; let i=index "
            style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
            <div class="row">

                <div class="col-md-1 texto-detalle">
                    {{ e.codigo | uppercase }}
                </div>
                <div class="col-md-4 texto-lista">
                    {{ e.descripcion | uppercase}}
                </div>
                <div class="col-md-2 texto-detalle">
                    {{ e.moneda | uppercase }}
                </div>
                <div class="col-md-2 texto-detalle">
                    {{ e.frecuencia | uppercase }}
                </div>
                <div class="col-md-2 texto-detalle">
                    {{ e.valormercado | uppercase }}
                </div>

                <div class="col-md-1 text-right">

                    <button mat-icon-button aria-label="Editar" (click)="editar(e)">
                        <mat-icon class="texto-gray">edit</mat-icon>
                    </button>

                </div>
            </div>
        </mat-list>
    </mat-selection-list>
    <br><br>
</div>
