
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
    <mat-form-field appearance="outline">
      <mat-label>Seleccionar productos</mat-label>
      <mat-select placeholder="Seleccion de productos" [(ngModel)]="producto" 
        (ngModelChange)="SeleccionarCambio($event)" >
        <mat-option *ngFor="let e of lstMaestro" [value]="e.id">{{e.nombre}}</mat-option>
      </mat-select>
      <mat-icon matSuffix>business_center</mat-icon>

    </mat-form-field>

   
  </div>
  <div class="col-md-2">
    <div class="asistente-button-container">
      
      <button mat-button color="primary" (click)="openDialog()"> 
        <mat-icon>add</mat-icon> Asistente de configuración
      </button>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="container">
  <br>
  <app-tabla API="{{producto}}"></app-tabla>
  <br>
</div>



<ng-template #hechicero let-modal>
  <app-hechicero></app-hechicero>
</ng-template>

<ng-template #filex let-modal>
  <app-file></app-file>
</ng-template>