<ngx-ui-loader [loaderId]="'load-cont'"></ngx-ui-loader>

<div class="centrar">
  <div class="row">
    <div class="col-md-2">
      <mat-form-field appearance="outline">
        <mat-label>Ultimo Cierre</mat-label>
        <input matInput placeholder="Fecha de Contable" [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaultimo"
          disabled="disabled">
        <mat-icon matSuffix>event</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Plan</mat-label>
        <mat-select placeholder="Plan" [(ngModel)]="plan" value="{{plan}}">
          <mat-option value='%'>TODOS</mat-option>
          <!-- <mat-option value='S'>SEMESTRAL</mat-option> -->
        </mat-select>

      </mat-form-field>
    </div>

    <div class="col-md-2">
      <mat-form-field appearance="outline">
        <mat-label>Fecha valor</mat-label>
        <input matInput [matDatepicker]="ypicker" [(ngModel)]="fechai">
        <mat-datepicker #ypicker></mat-datepicker>
        <mat-icon matSuffix (click)="ypicker.open()">event</mat-icon>
      </mat-form-field>

    </div>
    <div class="col-md-3">
      <mat-form-field appearance="outline">
        <mat-label>Frecuencia</mat-label>
        <mat-select placeholder="Frecuencia" [(ngModel)]="estatus" value="{{estatus}}">
          <mat-option value='%'>MENSUAL</mat-option>
          <!-- <mat-option value='S'>CIERRE SEMESTRAL</mat-option> -->
          <mat-option value='M' *ngIf="bAntes">ANTES DEL CIERRE SEMESTRAL</mat-option>
          <!-- <mat-option value='S'>SEMESTRAL</mat-option> -->
        </mat-select>

      </mat-form-field>
    </div>

    <div class="col-md-2 text-left">
      <button mat-flat-button color="primary" (click)="ConsultarComprobante()" style="margin-top: 5px; height: 50px;">
        <mat-icon>verified</mat-icon>&nbsp;Procesar reporte
      </button>
    </div>


  </div>
</div>


<div id="DivPrintPage" name="DivPrintPage" *ngIf="printv">
  <div class="row membrete-div" style="display: flex; align-items: center;">
    <div style="width: 33%;">
      <img src="./assets/img/brand/logo.png" alt="Imagen" style="margin-right: 20px; height: 2.75rem;">
    </div>
    <div style="width: 33%;" style="flex-grow: 1; text-align: center;">
      <p class="membrete">
        BANCO DE LA FUERZA ARMADA NACIONAL BOLIVARIANA<br>
        DIRECCION DE FIDEICOMISO<br>
        BALANCE GENERAL AL - {{fechaTexto}}
      </p>
    </div>
    <div style="width: 33%;"></div>
  </div>
  <div class="row" [innerHtml]="HTMLBalance"></div>

  <div class="row membrete-div mt-100" style="display: flex; align-items: center; ">
    <div style="width: 33%;">
      <img src="./assets/img/brand/logo.png" alt="Imagen" style="margin-right: 20px; height: 2.75rem;">
    </div>
    <div style="width: 33%;" style="flex-grow: 1; text-align: center;">
      <p class="membrete">
        BANCO DE LA FUERZA ARMADA NACIONAL BOLIVARIANA<br>
        DIRECCION DE FIDEICOMISO<br>
        BALANCE GENERAL - AL {{fechaTexto}}
      </p>
    </div>
    <div style="width: 33%;"></div>
  </div>
  <div class="row" [innerHtml]="HTMLResultados"></div>

  <div class="flex-print" style="margin-top: 200px; justify-content: center; align-items: center; flex-direction: column;">
    <hr style="width: 1px; border-color: #252525; border-width: 1px; margin-bottom: 5px; width: 40%;">
    <h2 style="text-align: center;">FIRMA AUTORIZADA</h2>
  </div>

</div>


<div class="row" *ngIf="printv">
  <div class="col-md-6"></div>

  <div class="col-md-6 text-right">
    <button mat-flat-button color="warn" (click)="downloadCSVEx()" style="margin-top: 5px; height: 50px;">
      &nbsp;Generar XLS
    </button> &nbsp;&nbsp;&nbsp;
    <button mat-flat-button color="warn" (click)="imprimir()" style="margin-top: 5px; height: 50px;">
      &nbsp;Imprimir reporte
    </button>
  </div>


</div>

<br><br>