<div class="row">
  <div class="col-md-12">
    <ngx-ui-loader [loaderId]="'load-cont'"></ngx-ui-loader>




    <div class="row">
      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Contable</mat-label>
          <input matInput placeholder="Fecha de Contable" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="fechaultimo" disabled="disabled">
          <mat-icon matSuffix>event</mat-icon>
        </mat-form-field>
        <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

      </div>
      

      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Inicio</mat-label>
          <input matInput [matDatepicker]="ypicker" [(ngModel)]="fechai">
          <mat-datepicker #ypicker></mat-datepicker>
          <mat-icon matSuffix (click)="ypicker.open()">event</mat-icon>
        </mat-form-field>
        <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Plan</mat-label>
          <mat-select placeholder="Plan" [(ngModel)]="plan" value="{{plan}}">
            <mat-option value='%'>TODOS</mat-option>
            <!-- <mat-option value='S'>SEMESTRAL</mat-option> -->
          </mat-select>
    
        </mat-form-field>
      </div>

     
      

      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Cuentas Contables</mat-label>
          <mat-select placeholder="CUENTAS CONTABLES" [(ngModel)]="cuenta" value="{{cuenta}}">
            <mat-option  value='X'>DEBE SELECCIONAR CUENTA</mat-option>
            <mat-option *ngFor="let e of lstIndex" value='{{e.id}}'>{{e.id}} - {{e.nombre}}</mat-option>
           
          </mat-select>
    
        </mat-form-field>
      </div>

      
    </div>

    <div class="row">

      <div class="col-md-12 text-right">
        <button mat-flat-button color="primary" (click)="ConsultarDetalles()" style="height: 50px;">
          <mat-icon>search</mat-icon>&nbsp;Consultar
        </button>
      </div>
    </div>

    <div class="row" *ngIf="blista">
      <div class="col-md-12">
        <mat-selection-list>
          <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
            <div class="row">
              <div class="col-md-2 texto-detalle auto-title">
                CUENTA
              </div>
              <div class="col-md-6 texto-detalle auto-title">
                DESCRIPCION
              </div>
              <div class="col-md-2 texto-detalle auto-title">
                DEBE
              </div>
              <div class="col-md-2 texto-lista auto-title">
                HABER
              </div>
            </div>
          </mat-list>
          <mat-list *ngFor="let e of lstMovimientos; let i=index "
            style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
            <div class="row">
              <div class="col-md-2 texto-detalle auto-ajuste">
                {{ e.cuenta }}
              </div>
              <div class="col-md-6 texto-detalle auto-ajuste">
                {{ e.descripcion | uppercase }}
              </div>
              <div class="col-md-2 texto-detalle auto-ajuste">
                {{ getMoneda(e.debe) }}
              </div>
              <div class="col-md-2 texto-lista auto-ajuste">
                {{ getMoneda(e.haber) }}
              </div>
              
            </div>
          </mat-list>
          <!-- <mat-list 
          style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
          <div class="row">
            <div class="col-md-8 texto-detalle auto-title auto-ajuste">
              TOTAL DE CUENTAS
            </div>
            <div class="col-md-2 texto-detalle auto-ajuste auto-title">
              Bs. {{ getMoneda( total_debe ) }}
            </div>
            <div class="col-md-2 texto-detalle auto-ajuste auto-title">
              Bs. {{ getMoneda( total_haber ) }}
            </div>
          </div>
        </mat-list> -->
        </mat-selection-list>
        <br><br>
      </div>
    </div>
  




    <div class="row" *ngIf="bauxiliar">
      <div class="col-md-12">
        <mat-selection-list>
          <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
            <div class="row">
              <div class="col-md-3 texto-detalle auto-title">
                CUENTA
              </div>
              <div class="col-md-7 texto-detalle auto-title">
                DESCRIPCION
              </div>
              <div class="col-md-2 texto-detalle auto-title">
                SALDO
              </div>
            </div>
          </mat-list>
          <mat-list *ngFor="let e of lstMovimientosAuxliares; let i=index "
            style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
            <div class="row">
              <div class="col-md-3 texto-detalle auto-ajuste">
                {{ e.cuenta }}
              </div>
              <div class="col-md-7 texto-detalle auto-ajuste">
                {{ e.descripcion | uppercase }}
              </div>
              <div class="col-md-2 texto-detalle auto-ajuste">
                Bs. {{(e.saldo) }}
              </div>
            </div>
          </mat-list>

         
        </mat-selection-list>
        <br><br>
      </div>
    </div>
    <hr>
    
    <div class="row" *ngIf="blista">

      <div class="col-md-12 text-right">

        <button mat-flat-button color="primary" (click)="imprimir()" style="height: 50px;">
          <mat-icon>print</mat-icon>&nbsp;Imprimir
        </button>
       

      </div>

    </div>







  </div>
</div>