<div class="row">
  <div class="col-md-12">
      <div class="card card-profile shadow">
          <div class="card-body">
              <ngx-ui-loader [loaderId]="'load-inver'"></ngx-ui-loader>
              <mat-tab-group>
                  <mat-tab label="CARTERA">

                      <app-portafolio></app-portafolio>
                  </mat-tab>
                  <mat-tab label="EMPRESA">
                      <app-empresa></app-empresa>
                  </mat-tab>
                  <mat-tab label="EJECUTIVOS">
                      <app-ejecutivos></app-ejecutivos>
                  </mat-tab>
                  <mat-tab label="CONFIGURADOR">

                      <div style="padding: 20px;">

                          <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-5">
                                  <mat-form-field appearance="outline">
                                      <mat-label>Seleccionar productos</mat-label>
                                      <mat-select placeholder="Ciudad" [(ngModel)]="producto" VALUE="PRODUCTO">
                                          <mat-option *ngFor="let e of lstMaestro"
                                              value="{{e.id}}">{{e.nombre}}</mat-option>
                                      </mat-select>
                                      <mat-icon matSuffix>business_center</mat-icon>

                                  </mat-form-field>
                              </div>
                              <div class="col-md-2">
                                  <div class="asistente-button-container">

                                      <button mat-button color="primary" (click)="openDialog()">
                                          <mat-icon>add</mat-icon> Asistente
                                      </button>
                                  </div>
                              </div>
                              <div class="col-md-2"></div>

                          </div>
                          <div class="container">
                              <br>
                              <app-tabla API="{{producto}}"> </app-tabla>
                              <br>
                          </div>

                      </div>

                  </mat-tab>

                  

              </mat-tab-group>

          </div>
      </div>
  </div>
</div>




<ng-template #hechicero let-modal>
  <app-hechicero></app-hechicero>
</ng-template>