<div class="row">
  <div class="col-md-12">
    <ngx-ui-loader [loaderId]="'load-cont'"></ngx-ui-loader>




    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Contable</mat-label>
          <input matInput placeholder="Fecha de Contable" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="fechaultimo" disabled="disabled">
          <mat-icon matSuffix>event</mat-icon>
        </mat-form-field>
        <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Inicio</mat-label>
          <input matInput [matDatepicker]="ypicker" [(ngModel)]="fechai">
          <mat-datepicker #ypicker></mat-datepicker>
          <mat-icon matSuffix (click)="ypicker.open()">event</mat-icon>
        </mat-form-field>
        <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Fecha Fin</mat-label>
          <input matInput [matDatepicker]="zpicker" [(ngModel)]="fechaf" (dateInput)="CalcularDias('input', $event)"
            (dateChange)="CalcularDias('change', $event)">
          <mat-datepicker #zpicker></mat-datepicker>
          <mat-icon matSuffix (click)="zpicker.open()">event</mat-icon>
        </mat-form-field>
        <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>N&uacute;mero de dias </mat-label>
          <input matInput placeholder="N&uacute;mero de dias" [ngModelOptions]="{standalone: true}" [(ngModel)]="dias" disabled>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row py-2">
      <div class="col-md-12 text-right">
        <button mat-flat-button color="accent" (click)="ListarInversiones()" style="height: 50px;">
          <mat-icon>search</mat-icon>&nbsp;Consultar
        </button>
        &nbsp;&nbsp;
        <button *ngIf="blProcesar" mat-flat-button color="primary" (click)="CalculoPosicion()" style="height: 50px;">
          <mat-icon>verified</mat-icon>&nbsp;Procesar
        </button>
        
        
      </div>
      <br><br>

    </div>


    <mat-tab-group *ngIf="visible" mat-stretch-tabs class="example-stretched-tabs" style="padding:4px;">
      <mat-tab>
        <ng-template mat-tab-label>
          &nbsp;POSICION FINANCIERA
        </ng-template>

        <div class="example-large-box mat-elevation-z4">
          <div style="padding: 20px; width: 100%; margin-bottom: 0px;">

            <div class="row">
              <div class="col-md-12">
                <div class="mat-elevation-z8">
            

                  <div class="col-md-12">
                    <mat-selection-list>
                      <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                        <div class="row">
                          <div class="col-md-2 texto-detalle auto-title">
                            INSTRUMENTOS
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                             COMPRA
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                             VENCIMIENTO
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                            VALOR NOMINAL
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                            INT. DIARIO
                          </div>
                          <div class="col-md-2 texto-lista auto-title">
                            INT. ACUMULADO
                          </div>
                        </div>
                      </mat-list>
                      <mat-list *ngFor="let e of lstAsientos; let i=index "
                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                        <div class="row">
                          
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            {{ e.instrumento | uppercase }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            {{ e.fecha_compra | date : 'dd/MM/YYYY'   }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            {{ e.fecha_vencimiento | date : 'dd/MM/YYYY'   }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            Bs. {{ getMoneda(e.valor_nominal) }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            Bs. {{ getMoneda(e.interes_diario) }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            Bs. {{ getMoneda(InteresDiarioCupon(e, CalcularDiasInterese( e.fecha_compra, fecha_al ))) }}
                          </div>
                        </div>
                      </mat-list>
                      <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                        <div class="row">
                          <div class="col-md-8 texto-detalle auto-title">
                            TOTAL DE DEVENGO GENERAL
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                            Bs. {{ getMoneda(acum_debe) }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                          </div>
                        </div>
                      </mat-list>
                      
                    </mat-selection-list>
                    
                    
                  </div>
                  <br>
                    
                </div>
                <br>

              </div>

            </div>
            <br>
       


          </div>
        </div>




      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
          &nbsp;VENCIMIENTO
        </ng-template>


        <div class="example-large-box mat-elevation-z4">
          <div style="padding: 20px; width: 100%; margin-bottom: 0px;">

            <div class="row">
              <div class="col-md-12">
                <div class="mat-elevation-z8">
            

                  <div class="col-md-12">
                    <mat-selection-list>
                      <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                        <div class="row">
                          <div class="col-md-4 texto-detalle auto-title">
                            INSTRUMENTOS
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                             COMPRA
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                             VENCIMIENTO
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                            VALOR NOMINAL
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                            RENDIMIENTO
                          </div>
                        </div>
                      </mat-list>
                      <mat-list *ngFor="let e of lstVencimiento; let i=index "
                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                        <div class="row">
                         
                          <div class="col-md-4 texto-detalle auto-ajuste">
                            {{ e.instrumento | uppercase }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            {{ e.fecha_compra | date : 'dd/MM/YYYY' }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            {{ e.fecha_vencimiento | date : 'dd/MM/YYYY'   }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            Bs. {{ getMoneda(e.valor_nominal) }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            Bs. {{ getMoneda(  RendicionCupon(e) ) }}
                          </div>
                        </div>
                      </mat-list>
                      <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                        <div class="row">
                          <div class="col-md-10 texto-detalle auto-title">
                            TOTAL DE VENCIMIENTO GENERAL
                          </div>
                          
                          <div class="col-md-2 texto-detalle auto-title">
                            Bs. {{ getMoneda(acum_debev) }}
                          </div>
                        </div>
                      </mat-list>
                      
                    </mat-selection-list>
                    
                    
                  </div>
                  <br>
                    
                </div>
                <br>

              </div>

            </div>
            <br>
           


          </div>
        </div>

        <br>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
          &nbsp;COMPRAS
        </ng-template>
        <div class="example-large-box mat-elevation-z4">
          <div style="padding: 20px; width: 100%; margin-bottom: 0px;">

            <div class="row">
              <div class="col-md-12">
                <div class="mat-elevation-z8">
            

                  <div class="col-md-12">
                    <mat-selection-list>
                      <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                        <div class="row">
                          <div class="col-md-8 texto-detalle auto-title">
                            INSTRUMENTOS
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                             COMPRA
                          </div>
                        
                          <div class="col-md-2 texto-detalle auto-title">
                            RENDICION CUPON
                          </div>
                        </div>
                      </mat-list>
                      <mat-list *ngFor="let e of lstCompra; let i=index "
                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                        <div class="row">
                          
                          <div class="col-md-8 texto-detalle auto-ajuste">
                            {{ e.instrumento | uppercase }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            Bs. {{ getMoneda(e.valor_nominal) }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-ajuste">
                            Bs. {{ getMoneda(  RendicionCupon(e) ) }}
                          </div>
                        </div>
                      </mat-list>
                      <mat-list style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                        <div class="row">
                          <div class="col-md-8 texto-detalle auto-title">
                            TOTAL DE VENCIMIENTO GENERAL
                          </div>
                          
                          <div class="col-md-2 texto-detalle auto-title">
                            Bs. {{ getMoneda(acum_debec) }}
                          </div>
                          <div class="col-md-2 texto-detalle auto-title">
                          </div>
                        </div>
                      </mat-list>
                      
                    </mat-selection-list>
                    
                    
                  </div>
                  <br>
                    
                </div>
                <br>

              </div>

            </div>
            <br>
            


          </div>
        </div>

        <br>
      </mat-tab>

    </mat-tab-group>

    <div class="row" *ngIf="visible" >
      <div class="col-md-12 text-right">
        <button mat-flat-button color="accent" (click)="GenerarComprobante()" style="height: 50px;">
          Generar comprobante
        </button>
      </div>
    </div>
    <br>

  </div>
</div>