<div class="row">
  <div class="col-md-12">
      <ngx-ui-loader [loaderId]="'load-cont'"></ngx-ui-loader>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" style="padding:10px;">
          <mat-tab>
              <ng-template mat-tab-label>
                  <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
                  &nbsp;PRE CIERRE
              </ng-template>
              <br>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                  <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
                  &nbsp;CIERRE
              </ng-template>
              <br>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                  <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
                  &nbsp;CIERRE MENSUAL
              </ng-template>
              <br>
          </mat-tab>
          <mat-tab>
              <ng-template mat-tab-label>
                  <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
                  &nbsp;CIERRE SEMESTRAL
              </ng-template>
              <br>
          </mat-tab>
         
      </mat-tab-group>
  </div>
</div>
