<ngx-ui-loader [loaderId]="'load-ejecutivo'"></ngx-ui-loader>
<div style="padding:20px" [ngStyle]="{'display':empre_insert}">
    <form>

        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Nacionalidad</mat-label>
                    <mat-select placeholder="Estatus Ejecutivo" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Ejecutivo.nacionalidad" value="{{Ejecutivo.nacionalidad}}">
                        <mat-option value="V-">VENEZOLANO</mat-option>
                        <mat-option value="E-">EXTRANJERO</mat-option>
                    </mat-select>
                    <!-- <mat-icon matSuffix>public</mat-icon> -->
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Cedula</mat-label>
                    <input matInput placeholder="Cedula" (blur)="Consultar()" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Ejecutivo.cedula" value="{{Ejecutivo.cedula}}">
                    <mat-icon matSuffix (click)="Seleccionar()">search</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>Actividad del Cliente</mat-label>

                    <mat-select placeholder="Actividad del Ejecutivo" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Ejecutivo.actividad" value="{{Ejecutivo.actividad}}">
                        <mat-option value="NEGOCIO">NEGOCIO</mat-option>
                        <mat-option value="EJECUTIVO">AUTORIZADO DE LA EMPRESA</mat-option>
                    </mat-select>


                </mat-form-field>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput placeholder="Nombre Completo" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Ejecutivo.pnombre" value="{{Ejecutivo.pnombre}}">


                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Apellido Completo</mat-label>
                    <input matInput placeholder="Apellido Completo" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Ejecutivo.papellido" value="{{Ejecutivo.papellido}}">

                </mat-form-field>
            </div>

        </div>



        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput placeholder="Correo Electronico" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Ejecutivo.Direccion.correo" value="{{Ejecutivo.Direccion.correo}}">

                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Telefono de Oficina</mat-label>
                    <input matInput placeholder="Telefono de Habitacion" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Ejecutivo.Direccion.telefono" value="{{Ejecutivo.Direccion.telefono}}">
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Telefono Celular</mat-label>
                    <input matInput placeholder="Telefono Celular" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="Ejecutivo.Direccion.celular" value="{{Ejecutivo.Direccion.celular}}">


                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 text-right">
                <hr>
                <button mat-flat-button color="primary" (click)="Guardar()">Aceptar</button>
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="Seleccionar()">Listar</button>
            </div>

        </div>

    </form>

</div>

<div style="padding: 20px;" [ngStyle]="{'display':empre_search}">
    <br>
    <div class="row">
        <div class="col-md-12 text-right">
            <button mat-icon-button aria-label="volver" (click)="atras()">
                <mat-icon class="texto-gray">arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <mat-selection-list>
        <mat-list *ngFor="let e of lstEjecutivos; let i=index "
            style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
            <div class="row">

                <div class="col-md-2 texto-detalle">
                    {{ e.nacionalidad + e.cedula | uppercase }}
                </div>
                <div class="col-md-5 texto-lista">
                    {{ e.papellido + ' ' + e.pnombre | uppercase}}
                </div>
                <div class="col-md-2 texto-detalle">
                    {{ e.Direccion.telefono | uppercase }}
                </div>
                <div class="col-md-2 texto-detalle">
                    {{ e.actividad | uppercase }}
                </div>


                <div class="col-md-1 text-right">

                    <button mat-icon-button aria-label="Editar" (click)="editar(e)">
                        <mat-icon class="texto-gray">edit</mat-icon>
                    </button>

                </div>
            </div>
        </mat-list>
    </mat-selection-list>
    <br><br>
</div>