<ngx-ui-loader [loaderId]="'load-ejecutivo'"></ngx-ui-loader>
<div style="padding:20px" [ngStyle]="{'display':empre_insert}">
    <form>

        <div class="row">
            <div class="col-md-2">
                <mat-form-field appearance="outline">
                    <mat-label><span class="requerido">*</span> Tipo Documento</mat-label>
                    <mat-select placeholder="Tipo" [(ngModel)]="tipoDocumento" name="tipoDocumento">
                        <mat-option value="V">V - Venezolano</mat-option>
                        <mat-option value="E">E - Extranjero</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('numeroDocumento')}">
                    <mat-label><span class="requerido">*</span> Número de Cédula</mat-label>
                    <input matInput placeholder="Ej: 12345678" (blur)="Consultar()" name="numeroDocumento"
                        [(ngModel)]="numeroDocumento" maxlength="10">
                    <mat-error *ngIf="campoInvalido('numeroDocumento')">{{ mensajeError('numeroDocumento') }}</mat-error>
                    <mat-icon matSuffix (click)="Seleccionar()">search</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label><span class="requerido">*</span> Actividad del Cliente</mat-label>
                    <mat-select placeholder="Actividad del Ejecutivo" [(ngModel)]="Ejecutivo.actividad"
                        name="actividad">
                        <mat-option value="NEGOCIO">NEGOCIO</mat-option>
                        <mat-option value="EJECUTIVO">AUTORIZADO DE LA EMPRESA</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('pnombre')}">
                    <mat-label><span class="requerido">*</span> Nombre Completo</mat-label>
                    <input matInput placeholder="Nombre Completo" [(ngModel)]="Ejecutivo.pnombre"
                        name="pnombre">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('papellido')}">
                    <mat-label><span class="requerido">*</span> Apellido Completo</mat-label>
                    <input matInput placeholder="Apellido Completo" [(ngModel)]="Ejecutivo.papellido"
                        name="papellido">
                </mat-form-field>
            </div>

        </div>



        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('correo')}">
                    <mat-label><span class="requerido">*</span> Correo Electrónico</mat-label>
                    <input matInput placeholder="Correo Electrónico" [(ngModel)]="Ejecutivo.Direccion.correo"
                        name="correo">
                    <mat-error *ngIf="campoInvalido('correo')">{{ mensajeError('correo') }}</mat-error>
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('telefono')}">
                    <mat-label><span class="requerido">*</span> Teléfono de Oficina</mat-label>
                    <input matInput placeholder="Teléfono de Oficina" [(ngModel)]="Ejecutivo.Direccion.telefono"
                        name="telefono">
                    <mat-error *ngIf="campoInvalido('telefono')">{{ mensajeError('telefono') }}</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-4">
                <mat-form-field appearance="outline" [ngClass]="{'campo-invalido': campoInvalido('celular')}">
                    <mat-label><span class="requerido">*</span> Teléfono Celular</mat-label>
                    <input matInput placeholder="Teléfono Celular" [(ngModel)]="Ejecutivo.Direccion.celular"
                        name="celular">
                    <mat-error *ngIf="campoInvalido('celular')">{{ mensajeError('celular') }}</mat-error>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 text-right">
                <hr>
                <button mat-flat-button color="primary" (click)="Guardar()" [disabled]="!formularioValido()">
                    <mat-icon>{{ esEdicion ? 'save' : 'add' }}</mat-icon>
                    {{ esEdicion ? 'Actualizar' : 'Aceptar' }}
                </button>
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button (click)="Seleccionar()">Listar</button>
            </div>

        </div>

    </form>

</div>

<div style="padding: 20px;" [ngStyle]="{'display':empre_search}">
    <br>
    <div class="row">
        <div class="col-md-12 text-right">
            <button mat-icon-button aria-label="volver" (click)="atras()">
                <mat-icon class="texto-gray">arrow_back</mat-icon>
            </button>
        </div>
    </div>
    <mat-selection-list>
        <mat-list *ngFor="let e of lstEjecutivos; let i=index "
            style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
            <div class="row">

                <div class="col-md-2 texto-detalle">
                    {{ e.nacionalidad + e.cedula | uppercase }}
                </div>
                <div class="col-md-5 texto-lista">
                    {{ e.papellido + ' ' + e.pnombre | uppercase}}
                </div>
                <div class="col-md-2 texto-detalle">
                    {{ e.Direccion.telefono | uppercase }}
                </div>
                <div class="col-md-2 texto-detalle">
                    {{ e.actividad | uppercase }}
                </div>


                <div class="col-md-1 text-right">

                    <button mat-icon-button aria-label="Editar" (click)="editar(e)">
                        <mat-icon class="texto-gray">edit</mat-icon>
                    </button>

                </div>
            </div>
        </mat-list>
    </mat-selection-list>
    <br><br>
</div>
