
<ngx-ui-loader [loaderId]="'load-ejecutivo'"></ngx-ui-loader>
<div style="padding:20px" [ngStyle]="{'display':empre_insert}">
  <form>
          
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Nacionalidad</mat-label>
          <mat-select placeholder="Estatus Ejecutivo" [ngModelOptions]="{standalone: true}" [(ngModel)]="Ejecutivo.nacionalidad"
           value="{{Ejecutivo.nacionalidad}}">
              <mat-option value="V-">VENEZOLANO</mat-option>
              <mat-option value="E-">EXTRANJERO</mat-option>
          </mat-select>
          <!-- <mat-icon matSuffix>public</mat-icon> -->
        </mat-form-field>
      </div>

      <div class="col-md-4">
          <mat-form-field appearance="outline">
              <mat-label>Cedula</mat-label>
              <input matInput placeholder="Cedula" (blur)="Consultar()"
              [ngModelOptions]="{standalone: true}" [(ngModel)]="Ejecutivo.cedula" value="{{Ejecutivo.cedula}}">
              <mat-icon matSuffix (click)="Seleccionar()">search</mat-icon>
          </mat-form-field>
      </div>
      
      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-label>Estatus/Ejecutivo</mat-label>
          <mat-select placeholder="Estatus Ejecutivo" [ngModelOptions]="{standalone: true}" [(ngModel)]="Ejecutivo.estatus" 
          value="{{Ejecutivo.estatus}}">
            <mat-option value=0>INACTIVO</mat-option>
            <mat-option value=1>ACTIVO</mat-option>
          </mat-select>
          <mat-icon matSuffix>home</mat-icon>

        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>Estado Civil</mat-label>
          <mat-select placeholder="Estado Civil"  [ngModelOptions]="{standalone: true}" [(ngModel)]="Ejecutivo.estadocivil" value="{{Ejecutivo.estadocivil}}">
              <mat-option value="0">SELECCIONE</mat-option>
              <mat-option value="CASADO">CASADO (A)</mat-option>
              <mat-option value="SOLTERO">SOLTERO (A) </mat-option>
          </mat-select>
          <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
      </div>

    </div>


    <div class="row">
        <div class="col-md-5">
            <mat-form-field appearance="outline">
                <mat-label>Nombre Completo</mat-label>
                <input matInput placeholder="Nombre Completo" [ngModelOptions]="{standalone: true}" [(ngModel)]="Ejecutivo.pnombre" value="{{Ejecutivo.pnombre}}">


            </mat-form-field>
        </div>
        <div class="col-md-5">
            <mat-form-field appearance="outline">
                <mat-label>Apellido Completo</mat-label>
                <input matInput placeholder="Apellido Completo" [ngModelOptions]="{standalone: true}" [(ngModel)]="Ejecutivo.papellido" value="{{Ejecutivo.papellido}}">

            </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="outline">
            <mat-label>Sexo</mat-label>
            <mat-select placeholder="Sexo">
                <mat-option value="0">SELECCIONE</mat-option>
                <mat-option value="M">MASCULINO</mat-option>
                <mat-option value="F">FEMENINO</mat-option>
            </mat-select>
            <mat-icon matSuffix>boy</mat-icon>
          </mat-form-field>
        </div>
        
    </div>


    <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
              <mat-label>Fecha Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker"  [(ngModel)]="Ejecutivo.nacimiento" 
              [formControl]="nacimiento"
              [value]="nacimiento.value">
              <mat-datepicker #picker></mat-datepicker>
              <mat-icon matSuffix (click)="picker.open()">event</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Fecha de Ingreso</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="Ejecutivo.ingreso" 
                [formControl]="ingreso"
                [value]="ingreso.value">
                <mat-datepicker #picker1></mat-datepicker>
                <mat-icon matSuffix (click)="picker1.open()">event</mat-icon>
            </mat-form-field>
        </div>
        
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Actividad del Cliente</mat-label>

                <mat-select placeholder="Actividad del Ejecutivo" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="Ejecutivo.actividad"
                    value="{{Ejecutivo.actividad}}">
                    <mat-option value="S">SELECCION</mat-option>
                    <mat-option value="NEGOCIO">EJECUTIVO DE NEGOCIO</mat-option>
                    <mat-option value="PROCESO">EJECUTIVO DE PROCESO</mat-option>
                    <mat-option value="ATENCION">ATENCION AL CLIENTE</mat-option>
                </mat-select>
                <!-- <mat-icon matSuffix>public</mat-icon> -->


            </mat-form-field>
        </div>
    </div>

    
    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Direccion</mat-label>
          <textarea matInput placeholder="Direccion completa" style="height: 70px;"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="Ejecutivo.Direccion.direccion" 
          value="{{Ejecutivo.Direccion.direccion}}">
        </textarea>
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <div class="col-md-5">
          <mat-form-field appearance="outline">
              <mat-label>País</mat-label>
              <mat-select placeholder="País" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="Ejecutivo.Direccion.pais"
                  value="{{Ejecutivo.Direccion.pais}}">
                  <mat-option *ngFor="let e of lstPaises" value="{{e.code}}">{{e.nombre | uppercase }}</mat-option>
              </mat-select>
              <mat-icon matSuffix>public</mat-icon>

          </mat-form-field>
      </div>
      <div class="col-md-4">
          <mat-form-field appearance="outline">
              <mat-label>Estados</mat-label>
              <mat-select placeholder="Estados"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="Ejecutivo.Direccion.ciudad"
                  value="{{Ejecutivo.Direccion.ciudad}}">
                  <mat-option *ngFor="let e of lstEstados" value="{{e.id_estado}}">{{e.estado | uppercase }}</mat-option>
              </mat-select>
              <mat-icon matSuffix>home</mat-icon>

          </mat-form-field>
      </div>
      <div class="col-md-3">
          <mat-form-field appearance="outline">
              <mat-label>Código Postal</mat-label>
              <input matInput placeholder="Código postal"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="Ejecutivo.Direccion.codigopostal"
                  value="{{Ejecutivo.Direccion.codigopostal}}">
              <mat-icon matSuffix>pin</mat-icon>

          </mat-form-field>
      </div>
    </div>


    <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
              <mat-label>Urbanizacion</mat-label>
              <input matInput placeholder="Urbanizacion"
              [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="Ejecutivo.Direccion.urbanizacion"
                    value="{{Ejecutivo.Direccion.urbanizacion}}">

          </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Telefono de Habitacion</mat-label>
                <input matInput placeholder="Telefono de Habitacion"[ngModelOptions]="{standalone: true}"
                [(ngModel)]="Ejecutivo.Direccion.telefono"
                value="{{Ejecutivo.Direccion.telefono}}">
            </mat-form-field>
        </div>
        
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label>Telefono Celular</mat-label>
                <input matInput placeholder="Telefono Celular" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="Ejecutivo.Direccion.celular"
                value="{{Ejecutivo.Direccion.celular}}">


            </mat-form-field>
        </div>
    </div>


    <div class="row">
      <div class="col-md-12 text-right">
          <hr>
          <button mat-flat-button color="primary" (click)="Guardar()">Aceptar</button>
      </div>

  </div>

</form>

</div>

<div style="padding: 20px;" [ngStyle]="{'display':empre_search}">
  <br>
  <mat-selection-list>
      <mat-list *ngFor="let e of lstEjecutivos; let i=index "
          style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
          <div class="row">

              <div class="col-md-2 texto-detalle">
                  {{ e.nacionalidad +  e.cedula | uppercase }}
              </div>
              <div class="col-md-5 texto-lista">
                  {{ e.papellido + ' ' + e.pnombre  | uppercase}}
              </div>
              <div class="col-md-2 texto-detalle">
                  {{ e.Direccion.telefono | uppercase }}
              </div>
              <div class="col-md-2 texto-detalle">
                  {{ e.actividad | uppercase }}
              </div>


              <div class="col-md-1 text-right">

                  <button mat-icon-button aria-label="Editar" (click)="editar(e)">
                      <mat-icon class="texto-gray">edit</mat-icon>
                  </button>

              </div>
          </div>
      </mat-list>
  </mat-selection-list>
  <br><br>
</div>