<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body" style="padding:5px;height:100%">
    


                    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" 
                    (selectedTabChange)="tabActive($event)" [selectedIndex]="selectedIndex"
                    style="padding:10px;">
                        <mat-tab>

                            <ng-template mat-tab-label>
                                &nbsp;CONSULTAR CONTRATOS
                            </ng-template>

                            <div class="container">
                                <br>
                                 <mat-selection-list>
                                    <mat-list *ngFor="let e of lstContratos; let i=index "
                                        style="border-bottom: 1px rgba(224, 223, 223, 0.945) solid;">
                                        <div class="row">
    
                                            <div class="col-md-1 texto-detalle">
                                                {{ e.numero | uppercase }}
                                            </div>
                                            <div class="col-md-4 texto-lista" >
                                                {{ e.rif }} {{ e.razonsocial | uppercase}}
                                            </div>
                                            <div class="col-md-2 texto-detalle">
                                                {{ e.codigo | uppercase }}
                                            </div>
                                            <div class="col-md-2 texto-detalle">
                                                {{ e.plan | uppercase }}
                                            </div>
                                            <div class="col-md-2 texto-detalle">
                                                {{ e.estatus | uppercase }}
                                            </div>
                                          
                                            <div class="col-md-1 text-right">
    
                                                <button mat-icon-button aria-label="Editar"
                                                    (click)="editar(e)" >
                                                    <mat-icon class="texto-gray">edit</mat-icon>
                                                </button>
    
                                            </div>
                                        </div>
                                    </mat-list>
                                </mat-selection-list> 
                                <br><br>
                            </div>

                        </mat-tab>
                        <mat-tab style="width: 90%;padding: 20px;">
                            <ng-template mat-tab-label>
                                <!-- <mat-icon class="example-tab-icon">tips_and_updates</mat-icon> -->
                                &nbsp;REGISTRAR CONTRATOS
                            </ng-template>
                            <br>
                                      
                                <div class="card">
                                    <div class="card-body" style="padding:20px;">
                            

                                    
                                    <div class="row">
                                        <div class="col-md-2">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Numero</mat-label>
                                                <input matInput placeholder="Rif" [(ngModel)]="Contrato.numero"
                                                    value="{{Contrato.numero}}" (blur)="Consultar()">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Rif</mat-label>
                                                <input matInput placeholder="Rif" [(ngModel)]="Contrato.rif"
                                                    value="{{Contrato.rif}}" >
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-8">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Empresa / Afiliado</mat-label>
                                                <input matInput placeholder="Empresa / Afiliado" [(ngModel)]="Contrato.razonsocial"
                                                    value="{{Contrato.razonsocial}}">


                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Plan</mat-label>
                                                <input matInput placeholder="Plan" [(ngModel)]="Contrato.plan"
                                                    value="{{Contrato.plan}}">


                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Estatus del Plan</mat-label>
                                                <mat-select placeholder="Estatus del Plan" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="Contrato.estatus"  value="{{Contrato.estatus}}">
                                                <mat-option value=0>INACTIVO</mat-option>
                                                <mat-option value=1>ACTIVO</mat-option>
                                              </mat-select>
                                              <!-- <mat-icon matSuffix>home</mat-icon> -->

                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Tipo de Fideicomiso</mat-label>
                                                <input matInput placeholder="Tipo de Fideicomiso" [(ngModel)]="Contrato.tipo"
                                                    value="{{Contrato.tipo}}">


                                            </mat-form-field>
                                        </div>
                                    </div>

                                    
                                        <mat-tab-group  mat-stretch-tabs class="example-stretched-tabs" style="padding: 20px;">
                                            <mat-tab>
                                                <ng-template mat-tab-label>
                                                    &nbsp;GENERAL
                                                </ng-template>
                                                <br>
                                                <br>
                                                <div class="container">
                                                    <form>

                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Empresa</mat-label>
                                                                    <input matInput placeholder="Empresa Sudeban"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.empresa" value="{{Contrato.empresa}}">

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Fideicomiso</mat-label>
                                                                    <input matInput placeholder="Fedicomiso Sudeban"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.fideicomiso"
                                                                        value="{{Contrato.fideicomiso}}">

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Reporte</mat-label>
                                                                    <input matInput placeholder="Reporte Sudeban"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.reporte" value="{{Contrato.reporte}}">

                                                                </mat-form-field>
                                                            </div>

                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Codigo de Banco</mat-label>
                                                                    <input matInput placeholder="Codigo de Banco"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.codigo" value="{{Contrato.codigo}}">


                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Plan Anterior</mat-label>
                                                                    <input matInput placeholder="Plan Anterior"
                                                                        [(ngModel)]="Contrato.plananterior"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        value="{{Contrato.plananterior}}">

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Grupo</mat-label>
                                                                    <input matInput placeholder="Grupo"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.grupoanterior"
                                                                        value="{{Contrato.grupoanterior}}">


                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Segmento</mat-label>
                                                                    <input matInput placeholder="Segmento"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.segmento" value="{{Contrato.segmento}}">


                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Sub-Segmento</mat-label>
                                                                    <input matInput placeholder="Sub-Segmento"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.subsegmento"
                                                                        value="{{Contrato.subsegmento}}">

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Oficina Tutora</mat-label>
                                                                    <input matInput placeholder="Oficina Tutora"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.oficinatutora"
                                                                        value="{{Contrato.oficinatutora}}">


                                                                </mat-form-field>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Direccion</mat-label>
                                                                    <textarea matInput placeholder="Direccion completa"
                                                                        style="height: 70px;" [(ngModel)]="Contrato.Direccion.direccion"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        value="{{Contrato.Direccion.direccion}}"></textarea>
                                                                </mat-form-field>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>País</mat-label>
                                                                    <mat-select placeholder="País" [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Direccion.pais"
                                                                        value="{{Contrato.Direccion.pais}}">
                                                                        <mat-option value="S">SELECCION</mat-option>
                                                                        <mat-option value="VENEZUELA">VENEZUELA</mat-option>
                                                                    </mat-select>
                                                                    <mat-icon matSuffix>public</mat-icon>

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Ciudad</mat-label>
                                                                    <mat-select placeholder="Ciudad"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Direccion.ciudad"
                                                                        value="{{Contrato.Direccion.ciudad}}">
                                                                        <mat-option value="S">SELECCION</mat-option>
                                                                        <mat-option value="MERIDA">MERIDA</mat-option>
                                                                    </mat-select>
                                                                    <mat-icon matSuffix>home</mat-icon>

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Código Postal</mat-label>
                                                                    <input matInput placeholder="Código postal"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Direccion.codigopostal"
                                                                        value="{{Contrato.Direccion.codigopostal}}">
                                                                    <mat-icon matSuffix>pin</mat-icon>

                                                                </mat-form-field>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Oficina nacional</mat-label>
                                                                    <input matInput placeholder="oficina nacional"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Direccion.oficinanacional"
                                                                        value="{{Contrato.Direccion.oficinanacional}}">


                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Teléfono</mat-label>
                                                                    <input matInput placeholder="Teléfono"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Direccion.telefono"
                                                                        value="{{Contrato.Direccion.telefono}}">
                                                                    <mat-icon matSuffix>support_agent</mat-icon>

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Correo Electronico</mat-label>
                                                                    <input type="email" matInput
                                                                        placeholder="Ejemplo: technologies@code-epic.com"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Direccion.correo"
                                                                        value="{{Contrato.Direccion.correo}}" required>
                                                                    <mat-icon matSuffix>email</mat-icon>

                                                                </mat-form-field>
                                                            </div>
                                                        </div>




                                                    </form>
                                                </div>
                                            </mat-tab>

                                            <mat-tab>
                                                <ng-template mat-tab-label>
                                                    &nbsp;EJECUTIVOS
                                                </ng-template>
                                                <br><br>
                                                <div class="container">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <table>
                                                                    <thead>
                                                                        <th>NOMBRES Y APELLIDOS</th>
                                                                        <th>CEDULA DE IDENTIDAD</th>
                                                                        <th>TELEFONO</th>
                                                                        <th>CELULAR</th>
                                                                        <th>EMAIL</th>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <br><br>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Ejecutivo de negocio</mat-label>
                                                                    <input matInput placeholder="Ejecutivo de negocio"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Ejecutivo.negocio"
                                                                        value="{{Contrato.Ejecutivo.negocio}}">

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Atencion al cliente</mat-label>
                                                                    <input matInput placeholder="Atencion al cliente"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Ejecutivo.cliente"
                                                                        value="{{Contrato.Ejecutivo.cliente}}">

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Ejecutivo del proceso</mat-label>
                                                                    <input matInput placeholder="Ejecutivo del proceso"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Ejecutivo.proceso"
                                                                        value="{{Contrato.Ejecutivo.proceso}}">

                                                                </mat-form-field>
                                                            </div>

                                                        </div>

                                                    </form>
                                                </div>
                                            </mat-tab>

                                            <mat-tab >
                                                <ng-template mat-tab-label>
                                                    &nbsp;POLITICAS
                                                </ng-template>
                                                <br><br>
                                                <div class="container">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Observaciones</mat-label>
                                                                    <textarea matInput placeholder="Observaciones"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.observaciones"
                                                                        value="{{Contrato.Politicas.observaciones}}"
                                                                        style="height: 70px;"></textarea>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Tipo de Cuenta</mat-label>
                                                                    <input matInput placeholder="Tipo de Cuenta"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.tipocuenta"
                                                                        value="{{Contrato.Politicas.tipocuenta}}">


                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Numero de Cuenta</mat-label>
                                                                    <input matInput placeholder="Numero de Cuenta" 
                                                                        maxlength="20"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.numerocuenta"
                                                                        value="{{Contrato.Politicas.numerocuenta}}">
                                                                    <mat-icon matSuffix>support_agent</mat-icon>

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Portafolio</mat-label>
                                                                    <input matInput placeholder="Portafolio"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.portafolio"
                                                                        value="{{Contrato.Politicas.portafolio}}">
                                                                    <mat-icon matSuffix>support_agent</mat-icon>

                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Metodo de Calculo de ganancia</mat-label>
                                                                    <input matInput placeholder="Metodo de Calculo de ganancia"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.metodocalculo"
                                                                        value="{{Contrato.Politicas.metodocalculo}}">


                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Tipo de Calculo Disponible</mat-label>
                                                                    <input matInput placeholder="Tipo de Calculo Disponible"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.tipocalculo"
                                                                        value="{{Contrato.Politicas.tipocalculo}}">
                                                                    <mat-icon matSuffix>support_agent</mat-icon>

                                                                </mat-form-field>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Redicion de cuenta</mat-label>
                                                                    <input matInput placeholder="Redicion de cuenta"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.rendicion"
                                                                        value="{{Contrato.Politicas.rendicion}}">


                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Condicion de pago Ganancia</mat-label>
                                                                    <input matInput placeholder="Condicion de pago Ganancia"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.condicionganancia"
                                                                        value="{{Contrato.Politicas.condicionganancia}}">
                                                                    <mat-icon matSuffix>support_agent</mat-icon>

                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Metodo de pago de ganancia</mat-label>
                                                                    <input matInput placeholder="Metodo de pago de ganancia"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.metodoganancia"
                                                                        value="{{Contrato.Politicas.metodoganancia}}">
                                                                    <mat-icon matSuffix>support_agent</mat-icon>

                                                                </mat-form-field>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Enviar a: </mat-label>
                                                                    <input matInput placeholder="Enviar a: "
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.enviar"
                                                                        value="{{Contrato.Politicas.enviar}}">


                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                        <h6 class="heading-small text-muted mb-4">RESTRICCIONES DE ACUERDO AL
                                                            FIDEICOMISO</h6>

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Num. maximo de retencion parcial</mat-label>
                                                                    <input type="number" matInput
                                                                        placeholder="Num. maximo de retencion parcial"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.numeromaximo"
                                                                        value="{{Contrato.Politicas.numeromaximo}}">


                                                                </mat-form-field>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <mat-form-field appearance="outline">
                                                                    <mat-label>Intervalo minimo entre prestamos (dias)</mat-label>
                                                                    <input type="number" matInput
                                                                        placeholder="Intervalo minimo entre prestamos (dias)"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="Contrato.Politicas.intervalominimo"
                                                                        value="{{Contrato.Politicas.intervalominimo}}">


                                                                </mat-form-field>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <mat-accordion>
                                                                    <mat-expansion-panel hideToggle>
                                                                        <mat-expansion-panel-header>
                                                                            <mat-panel-title>
                                                                                Tipo de prestamos
                                                                            </mat-panel-title>
                                                                            <mat-panel-description>
                                                                                Retiros permitidos
                                                                            </mat-panel-description>
                                                                        </mat-expansion-panel-header>
                                                                        <p>Tipo de prestamos y retiros permitidos.</p>
                                                                    </mat-expansion-panel>
                                                                    <mat-expansion-panel hideToggle>
                                                                        <mat-expansion-panel-header>
                                                                            <mat-panel-title>
                                                                                Prestamos que cancela
                                                                            </mat-panel-title>
                                                                            <mat-panel-description>
                                                                                Retiro
                                                                            </mat-panel-description>
                                                                        </mat-expansion-panel-header>
                                                                        <p>Prestamos que cancela Retiro</p>
                                                                    </mat-expansion-panel>
                                                                </mat-accordion>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </mat-tab>

                                            <mat-tab >
                                                <ng-template mat-tab-label>
                                                    &nbsp;SALDOS
                                                </ng-template>
                                                <br><br>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Saldo inicio del ejercicio</mat-label>
                                                                <input type="number" matInput placeholder="Saldo inicio del ejercicio" 
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="Contrato.Saldos.saldoinicio"
                                                                    value="{{Contrato.Saldos.saldoinicio}}">


                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Inicio del ejercicio</mat-label>
                                                                <input matInput [matDatepicker]="picker" 
                                                                [(ngModel)]="Contrato.Saldos.fechainicio"
                                                                [formControl]="fechainicio"
                                                                [value]="fechainicio.value">
                                                                <mat-datepicker #picker></mat-datepicker>
                                                                <mat-icon matSuffix (click)="picker.open()">event</mat-icon>
                                                            </mat-form-field>
                                                            <!-- <button mat-raised-button (click)="picker.open()">Open</button> -->

                                                        </div>
                                                        <div class="col-md-4">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Fondo por aplicar</mat-label>
                                                                <input type="number" matInput placeholder="Fondo por aplicar" 
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="Contrato.Saldos.fondo"
                                                                value="{{Contrato.Saldos.fondo}}">


                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Total de capital</mat-label>
                                                                <input type="number" matInput placeholder="Total de capital"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="Contrato.Saldos.total"
                                                                value="{{Contrato.Saldos.total}}">


                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Saldo prestamo</mat-label>
                                                                <input type="number" matInput placeholder="Saldo prestamo"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="Contrato.Saldos.prestamo"
                                                                value="{{Contrato.Saldos.prestamo}}">


                                                            </mat-form-field>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Capital neto</mat-label>
                                                                <input type="number" matInput placeholder="Capital neto" 
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="Contrato.Saldos.capital"
                                                                value="{{Contrato.Saldos.capital}}">


                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Valor de liquidado</mat-label>
                                                                <input type="number"matInput placeholder="Valor de liquidado"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="Contrato.Saldos.valor"
                                                                value="{{Contrato.Saldos.valor}}">


                                                            </mat-form-field>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <mat-form-field appearance="outline">
                                                                <mat-label>Utilidad</mat-label>
                                                                <input type="number" matInput placeholder="Utilidad" 
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="Contrato.Saldos.saldoinicio"
                                                                value="{{Contrato.Saldos.saldoinicio}}">


                                                            </mat-form-field>
                                                        </div>


                                                    </div>
                                                </div>
                                            </mat-tab>

                                            <mat-tab > 
                                                <ng-template mat-tab-label>
                                                    &nbsp;EJECUTIVOS
                                                </ng-template>
                                                <br><br>
                                                Content 3 
                                            </mat-tab>
                                        
                                        </mat-tab-group>
                                    
                                       
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                            
                                        <div class="col-md-12 text-right">
                                            <button mat-flat-button color="primary" (click)="Guardar()">Registar contrato</button>
                                        </div>
                                    
                                    </div>
                                </div>

                                
                            </div> 


                            



                        </mat-tab>
                    </mat-tab-group>

                
            </div>
        </div>
    </div>
</div>
