<h1 mat-dialog-title>Vista Previa</h1>
<div mat-dialog-content>
    <div id="contenido">

        <div class="row" style="display: flex; align-items: center;">
            <div style="width: 33%;">
                <img src="./assets/img/brand/logo.png" alt="Imagen" style="margin-right: 20px; height: 5rem;">
            </div>
            <div style="width: 33%;" style="flex-grow: 1; text-align: center;">
                <p align="center" style="font-weight: bold;font-size: 13px;">
                    BANCO DE LA FUERZA ARMADA NACIONAL BOLIVARIANA<br>
                    DIRECCION DE FIDEICOMISO
                </p>
            </div>
            <div style="width: 33%;"></div>
        </div>

        <div style="display: flex; align-items: center; justify-content: center;">
            <div style="width: 33%;" style="flex-grow: 1; text-align: center;">
                <p align="center" style="font-weight: bold;font-size: 13px;">
                    COMPROBANTE CONTABLE
                </p>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>CUENTA</th>
                    <th>FECHA</th>
                    <th>DESCRIPCION</th>
                    <th>DEBE</th>
                    <th>HABER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of xData">
                    <td>{{ e.cuenta }}</td>
                    <td>{{ e.fecha }}</td>
                    <td>{{ e.descripcion }}</td>
                    <td>{{ e.debe }}</td>
                    <td>{{ e.haber }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <b>TOTAL</b>
                    </td>
                    <td>{{ totalDebe }}</td>
                    <td>{{ totalHaber }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="imprimir()">Imprimir</button>
    <button mat-button color="warn" mat-dialog-close>Cerrar</button>
</div>